.trigger {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  .dart {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;

    &::before, &::after {
      display: block;
      width: inherit;
      height: inherit;
      position: relative;
      background-color: inherit;
      animation-duration: inherit;
      content: '';
    }

    &::before {
      top: -4px;
    }

    &::after {
      top: 2px;
    }
  }

  &.opened .dart {
    transform: rotate(45deg);

    &::before {
      opacity: 0;
    }

    &::after {
      transform: rotate(-90deg);
      transform-origin: 9.2px -0.4px;
    }
  }
}